USE [db_Colegio]
GO
/****** Object:  Table [dbo].[tblAsignaciones]    Script Date: 3/31/2026 7:16:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAsignaciones](
	[idAsignacion] [int] IDENTITY(1,1) NOT NULL,
	[idEstudiante] [int] NOT NULL,
	[idGrado] [int] NOT NULL,
	[Seccion] [char](1) NOT NULL,
	[cicloEscolar] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAsignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAsistencia]    Script Date: 3/31/2026 7:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAsistencia](
	[idAsistencia] [int] IDENTITY(1,1) NOT NULL,
	[idEstudiante] [int] NOT NULL,
	[fechaHora] [datetime] NULL,
	[tipoMovimiento] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEstudiantes]    Script Date: 3/31/2026 7:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEstudiantes](
	[idEstudiante] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](150) NOT NULL,
	[Apellidos] [varchar](150) NOT NULL,
	[CodigoQR] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrados]    Script Date: 3/31/2026 7:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrados](
	[idGrado] [int] IDENTITY(1,1) NOT NULL,
	[nombreGrado] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idGrado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblAsignaciones] ON 

INSERT [dbo].[tblAsignaciones] ([idAsignacion], [idEstudiante], [idGrado], [Seccion], [cicloEscolar]) VALUES (1, 1, 1, N'A', 2026)
SET IDENTITY_INSERT [dbo].[tblAsignaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[tblAsistencia] ON 

INSERT [dbo].[tblAsistencia] ([idAsistencia], [idEstudiante], [fechaHora], [tipoMovimiento]) VALUES (1, 1, CAST(N'2026-03-31T12:24:23.263' AS DateTime), N'Entrada')
INSERT [dbo].[tblAsistencia] ([idAsistencia], [idEstudiante], [fechaHora], [tipoMovimiento]) VALUES (2, 1, CAST(N'2026-03-31T12:30:20.923' AS DateTime), N'Salida')
INSERT [dbo].[tblAsistencia] ([idAsistencia], [idEstudiante], [fechaHora], [tipoMovimiento]) VALUES (3, 1, CAST(N'2026-03-31T12:38:15.990' AS DateTime), N'Entrada')
SET IDENTITY_INSERT [dbo].[tblAsistencia] OFF
GO
SET IDENTITY_INSERT [dbo].[tblEstudiantes] ON 

INSERT [dbo].[tblEstudiantes] ([idEstudiante], [Nombres], [Apellidos], [CodigoQR]) VALUES (1, N'Karla Valentina', N'Hernandez Cristales', N'J343QGV')
SET IDENTITY_INSERT [dbo].[tblEstudiantes] OFF
GO
SET IDENTITY_INSERT [dbo].[tblGrados] ON 

INSERT [dbo].[tblGrados] ([idGrado], [nombreGrado]) VALUES (1, N'Primero Basico')
INSERT [dbo].[tblGrados] ([idGrado], [nombreGrado]) VALUES (2, N'Segundo Basico')
INSERT [dbo].[tblGrados] ([idGrado], [nombreGrado]) VALUES (3, N'Tercero Basico')
SET IDENTITY_INSERT [dbo].[tblGrados] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblEstud__DB31D3E64872A408]    Script Date: 3/31/2026 7:17:00 PM ******/
ALTER TABLE [dbo].[tblEstudiantes] ADD UNIQUE NONCLUSTERED 
(
	[CodigoQR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblAsistencia] ADD  DEFAULT (getdate()) FOR [fechaHora]
GO
ALTER TABLE [dbo].[tblAsignaciones]  WITH CHECK ADD FOREIGN KEY([idEstudiante])
REFERENCES [dbo].[tblEstudiantes] ([idEstudiante])
GO
ALTER TABLE [dbo].[tblAsignaciones]  WITH CHECK ADD FOREIGN KEY([idGrado])
REFERENCES [dbo].[tblGrados] ([idGrado])
GO
ALTER TABLE [dbo].[tblAsistencia]  WITH CHECK ADD FOREIGN KEY([idEstudiante])
REFERENCES [dbo].[tblEstudiantes] ([idEstudiante])
GO
/****** Object:  StoredProcedure [dbo].[ups_ObtenerReporteAsistenciaHoy]    Script Date: 3/31/2026 7:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Herbert Canahui>
-- Create date: <03/31/2026>
-- Description:	<USP para obtener el reporte de asistencia del dia>
-- =============================================
CREATE PROCEDURE [dbo].[ups_ObtenerReporteAsistenciaHoy]
AS
BEGIN
	SET NOCOUNT ON;
	
	select
		g.nombreGrado as Grado,
		a.Seccion,
		e.Apellidos + ' ' + e.Apellidos as NombreEstudiante,

		--1. PRimera entrada del dia del estudiante
		ISNULL((select top 1 CONVERT(varchar(5), fechaHora, 108)
			from tblAsistencia
			where idEstudiante = e.idEstudiante
				and cast(fechaHora as date) = cast(GETDATE() as date)
				and tipoMovimiento = 'Entrada'
			order by fechaHora asc), '--:--') as HoraLlegada,

		--2. Salida del dia del estudiante
		ISNULL((select top 1 convert(varchar(5), fechaHora, 108)
			from tblAsistencia
			where idEstudiante = e.idEstudiante
				and cast(fechaHora as date) = cast(getdate() as date)
				and tipoMovimiento = 'Salida'
			order by fechaHora desc), '--:--') as HoraSalida,

		--3. Si no tiene ninguna asistencia es falta
		case
			when not exists (select 1 from tblAsistencia
					where idEstudiante = e.idEstudiante
					and cast(fechaHora as date) = cast(GETDATE() as date))
				then 'FALTA'
				else 'PRESENTE'
		end as Estado
	from tblEstudiantes e
	inner join tblAsignaciones a on e.idEstudiante = a.idEstudiante
	inner join tblGrados g on a.IdGrado = g.idGrado
	order by g.idGrado, a.Seccion, e.Apellidos;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarAsistencia]    Script Date: 3/31/2026 7:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Herbert,Canahui>
-- Create date: <03/31/2026>
-- Description:	<USP Registrar asistencia de los estudiantes del colegio>
-- =============================================
CREATE PROCEDURE [dbo].[usp_RegistrarAsistencia]
	@CodigoQR varchar(100),
	@Resultado bit output,
	@Mensaje nvarchar(500) output
AS
BEGIN
	SET NOCOUNT ON;
	
	declare @idEstudiante int;
	declare @nombreCompleto nvarchar(200);
	declare @ultimaFechaHora datetime;
	declare @ultimoMovimiento varchar(20);
	declare @nuevoMovimiento varchar(20) = 'Entrada';
	declare @fechaActual datetime = getdate();

	begin try
		-- 1. Buscar al estudiante por su QR
		select
			@idEstudiante = idEstudiante,
			@nombreCompleto = Apellidos + ' ' + Nombres
		from tblEstudiantes
		where CodigoQR = @CodigoQR;

		-- si no existe, devolvemos error
		if @idEstudiante is null
		begin
			set @Resultado = 0;
			set @Mensaje = 'Error: Codigo QR no reconocido en el colegio.';
			return;
		end

		-- 2. Buscar el ultimo registro de HOY para estudiante
		select top 1
			@ultimaFechaHora = fechaHora,
			@ultimoMovimiento = tipoMovimiento
		from tblAsistencia
			where idEstudiante = @idEstudiante
				and cast(fechaHora as date) = cast(@fechaActual as date)
			order by fechaHora desc;

		--3. Logica de validacion y decision
		if @ultimaFechaHora is not null
		begin 
			--Validar la regla de los 5 minutos (evitar doble escaneo)
			if DATEDIFF(MINUTE, @ultimaFechaHora, @fechaActual) < 5
			begin
				set @Resultado = 0;
				set @Mensaje = 'Advertencia: ' + @nombreCompleto + ', tu ' + lower(@ultimoMovimiento) + ' ya fue registrada hace un momento.';
				return;
			end

			-- si ya pasaron mas de 5 minutos, alternar el movimiento
			if @ultimoMovimiento = 'Entrada'
				set @nuevoMovimiento = 'Salida';
			else
				set @nuevoMovimiento = 'Entrada';
		end


		-- 4. Insertar el nuevo registro de asistencia
		insert into tblAsistencia (idEstudiante, fechaHora, tipoMovimiento)
		values (@idEstudiante, @fechaActual, @nuevoMovimiento);

		--5. Exito
		set @Resultado = 1;
		set @Mensaje = @nuevoMovimiento + ' registrada con exito para ' + @nombreCompleto;

	end try
	begin catch
		-- Manejo de errores internos
		set @Resultado = 0;
		set @Mensaje = 'Error interno: ' + ERROR_MESSAGE();
	end catch

END;
GO
